@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;
    background-color: #005555
}

#seleccionar-mascota{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(200, 192, 192)
}

.titulo {
    color: white;
    font-size: 32px;
}

.subtitulo{
    color: white;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.tarjetas{
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokemon{
    width: 180px;
    height: 100px;
    background: #069A8E;
    padding: 10px;
    box-sizing: border-box; /* Para que el padding no afecte el tamaño de la caja */
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.tarjeta-de-mokemon img{
    width: 80px;
}

#boton-mascota{
    color: black;
    background-color: #F7FF93;
    width: 210px;
    height: 45px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 40px;
    border-radius: 20px;
    border: 1px solid white;
    font-family: 'Press Start 2P', cursive;
}

input{
    display: none;
}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background: #069A8E;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    color: white;
    width: 169px;
    height: 49px;
    font-family: 'Press Start 2P', cursive;
    font-size: 17px;
    margin-bottom: 57px;
}

#mensajes{
    width: 280px;
    background: #F7FF93;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#resultado{
    font-size: 17px;
    text-align: center;
}

#boton-reiniciar{
    height: 50px;
    border-radius: 20px;
    border-color: transparent;
    background: #069A8E;
    color: white;
    font-family: 'Press Start 2P', cursive;
}
